body {
    background-color: #000;
    font-family: verdana, helvetica, arial, sans-serif;
    color: #FFF;
    font-size: 62.5%; /* (1em=16px) 0.625x16=10 : 1em=10px */
    padding: 0 3px;
}

a {
    text-decoration: none;
    color: #FFF;
}

.project {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 10px;
    border: 3px solid #407A39;
    padding: 0;
    width: 100%;
    float: left;
    margin: 3px 0;
}

.project-builds {
    margin-left: 218px;
}

.build,
.project-name {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 6px 3px;
    padding: 5px;
    position: relative;
}

.project .project-name {
    width: 200px;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
}

.build .build-name {
    font-weight: normal;
    color: #ccc;
    font-size: 1.2em;
}

.build .build-date,
.build .build-time-broken,
.build .build-pending-changes,
.build .build-running,
.build .build-paused,
.build .build-responsible {
    font-weight: normal;
    font-size: 1.0em;
    color: #ccc;
    display: block;
    margin-top: 0.5em;
}

.build .build-time-broken {
    font-size: 1.5em;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.build .build-pending-changes {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.build .build-running,
.build .build-paused {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -0.5em;
}

.build.build-success .build-status {
    display: none;
}

.project.project-unknown {
    border-color: #747474;
}

.project.project-success {
    border-color: #407A39;
}

.project.project-warning {
    border-color: #C47003;
}

.project.project-failure {
    border-color: #AF0E01;
}

.project.project-error {
    border-color: #AF0E01;
}

.build.build-unknown {
    background: #747474;
}

.build.build-success {
    background: #407A39;
}

.build.build-warning {
    background: #C47003;
}

.build.build-failure {
    background: #AF0E01;
}

.build.build-error {
    background: #AF0E01;
}

.build.build-failure.build-has-responsible {
    background: #C47003;
}